.logo {
    display: flex;
    justify-self: flex-end;
    align-items: flex-end;
}
body {
    background-color: skyblue;
    background-image: url('MICA.jpeg');
    background-size: 400px ;
    background-repeat: no-repeat;
    background-position: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:beige;
  }
  li {
    display:inline;
    color: white

  }
  li:hover {
    background-color: burlywood;
  }