.box {
    --dim: 200px;
    background-color: red;
    width: var(--dim);
    height: var(--dim);
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
.logo {
    display: flex;
    justify-self: flex-end;
    align-items: flex-end;
}
body {
    background-color: skyblue;
    background-image: url('MICA.jpeg');
    background-size: 400px ;
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    display: flex;
    justify-content: center;
}